<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
<div>

    <div class="flex_box  top-title-bar">
        <div class=" c-2 h1">Sasquatch Websighting</div>
        <div class=" c-1 h2 flex_box align-flex-end justify-flex-end">Aditya Vhanesa</div>
    </div>

    <div class=" margin-top-2 flex_box justify-flex-end">
        <a href="/new/sighting" class="width-2 h3">
            <div class="btn flex_box justify-center">Report A Sighting</div>
        </a>
    </div>

    <div class=" margin-top-2 flex_box justify-flex-end">
        <a href="/logout" class="width-1 h3">
            <div class="btn flex_box justify-center">Logout</div>
        </a>
    </div>

    <div>

        <div class="margin-top-2 ">
            <div class="h2">Reported Sightings</div>
        </div>

        <div class="margin-top-2 sighting-outer-box flex_box flex-direction-column">

            {% for sighting in sightings %}
                <div class="flex_box flex-direction-row h3">
                    <div class="flex_box c-1 flex-direction-column">
                        <div>Skeptics</div>
                        <div>{{ sighting.numberOfSkeptics }}</div>
                    </div>
                    <div class="flex_box c-4 flex-direction-column">
                        <div>{{ sighting }}</div>
                        <div>Reported By: {{ sighting.user }}</div>
                    </div>
                    <div class="flex_box c-3 align-center space-around">
                        <a href="/view/{{ sighting.id }}" class="width-3">
                            <div class="btn flex_box justify-center">View</div>
                        </a>
                        {% if sighting.user.id == session.get("user_id") %}
                            <a href="/edit/{{ sighting.id }}" class="width-3">
                                <div class="btn flex_box justify-center">Edit</div>
                            </a>
                            <a href="/delete/{{ sighting.id }}" class="width-3">
                                <div class="btn flex_box justify-center">Delete</div>
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="margin-top-2 spacer"></div>
            {% endfor %}

        </div>
    </div>


</div>
</body>
</html>