/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/* Remove all the styles of the 'User-Agent-Stylesheet', except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    /* text-rendering: optimizeSpeed;
    line-height: 1.5; */
}

/*
Remove list styles (bullets/numbers)
in case you use it with normalize.css
*/
ol, ul {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

.top-row {
    display: flex;
    margin-top: 5vh;
    width: 80%;
}

.top-row-title {
    flex-grow: 1;
    font-size: 3em;
}

.bottom-outer-box {
    width: 80%;
    margin-top: 5vh;
    display: flex;
}

.left-inner-box {
    flex-grow: 1;
}

.right-inner-box {
    flex-grow: 3;
}
.heading-2 {
    font-size: 1.5em;
}

.text-input {
    margin-left: 2vw;
    padding-left: 1vw;
    border: 2px solid black;
}

.btn {
    margin-top: 2vh;
    margin-left: 10vw;
    border: 2px solid black;
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    min-width: 10vw;

}

.btn:hover, .btn-2:hover {
    cursor: pointer;
}

.dojo-list-outerbox {
    width: 80%;
    border: 2px solid black;
    min-height: 2em;
    padding-top: 5px;
    padding-left: 2vw;
    font-size: 1.5em;
}

.dojo-name {
    color: lightseagreen;
    margin-bottom: 5px;
}

.dojo-name:hover {
    cursor: pointer;
}

.btn-2 {
    margin-left: 15vw;
    border: 2px solid black;
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 10vw;
    margin-top: 2vh;
}

.add-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-text {
    border: 1px solid black;
    margin-top: 2vh;
    padding-left: 2vw;
    border-radius: 25px;
    min-height: 2.5em;
    font-size: 2em;
    color: teal;
    min-width: 25vw;
    display: flex;
    align-items: center;
}


.submit-button:hover {
    cursor: pointer;
}

.heading-1 {
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 3em;
}

table {
    font-size: 1em;
    width: 100%;
    border-collapse: collapse;
}


thead {
    font-size: 1.5em;
    font-weight: bold;
}


th, td {
    padding: 0.25rem;
    text-align: left;
    border-bottom: 2px solid black;
}

tbody {
    font-size: 1.5em;
}

tbody tr:nth-child(even) {
    background-color: lightseagreen;
}

.title_text {
    font-size: 4em;
    font-weight: bold;
    margin-top: 5vh;
}

.table_outer_div {
    margin-top: 3vh;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.submit-button {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 0;
    border: 2px solid  black;
    font-size: 1.5em;
    min-width: 10vw;
    border-radius: 25px;
    background-color: lightpink;
}


