/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/* Remove all the styles of the 'User-Agent-Stylesheet', except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    flex-direction: column;
    background-color: #EDE6BF;
    /* text-rendering: optimizeSpeed;
    line-height: 1.5; */
}

/*
Remove list styles (bullets/numbers)
in case you use it with normalize.css
*/
ol, ul {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

.gold-count-outer-div {
    min-width: 100vw;
    display: flex;
    justify-items: center;
    justify-content: flex-start;
    margin-top: 5vh;
    padding-left: 5vw;
}

.heading {
    font-size: 3em;
    font-weight: bold;
}

.border-box {
    border: 2px solid black;
    display: flex;
    min-width: 20vw;
    margin-left: 5vw;
    justify-content: center;
}

.outer-game-div {
    display:  flex;
    margin-top: 10vh;
    justify-content: space-around;
    justify-items: center;
    min-height: 20vh;
}

.game-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 15vw;
    background-color: #48B8D0;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 0 0 5px 2px gray;
}

.heading2 {
    font-size: 2em;
    font-weight: bold;
}

.form-submit {
    background-color: #CE1483;
    border: 2px solid black;
    border-radius: 25px;
    min-width: 7vw;
    display: flex;
    justify-content: center;
}

.form-submit:hover {
    box-shadow: 2px 2px 2px 0 black;
    cursor: pointer;
}

.activity-outer-box {
    margin-left: 5vw;
    margin-top: 5vh;
}

.heading3 {
    font-size: 1em;
    font-weight: bold;
}

.activity-inner-box {
    border: 5px solid black;
    width: 90vw;
    margin-top: 2vh;
    height: 30vh;
    overflow-y: scroll;
    padding-left: 2vw;
}

.teal-font {
    color: teal;
}

.red-font {
    color: red;
}