/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/* Remove all the styles of the 'User-Agent-Stylesheet', except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
all: unset;
display: revert;
}
/* Preferred box-sizing value */
*,
*::before,
*::after {
box-sizing: border-box;
padding: 0;
margin: 0;
}
body {
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
/* text-rendering: optimizeSpeed;
line-height: 1.5; */
}
/*
Remove list styles (bullets/numbers)
in case you use it with normalize.css
*/
ol, ul {
list-style: none;
}
/* For images to not be able to exceed their container */
img {
max-width: 100%;
}
/* Removes spacing between cells in tables */
table {
border-collapse: collapse;
}
/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
white-space: revert;
}

.center-item {
    display:flex;
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction:column;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column-reverse {
    flex-direction: column-reverse;
}

.wrap {
    flex-wrap: wrap
}

.col-1 {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}

.col-4 {
    flex: 4;
}

.col-5 {
    flex: 5;

}

.round-corners {
    border-radius: 25px;
}

.round-corner-top {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.round-corner-bottom {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.round-corner-left {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.round-corner-right {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.heading {
    font-size: 3em;
    font-weight: bold;
    color: black;
}

.heading2 {
    font-size: 1.5em;
    font-weight: normal;
    color: gray;
}

.heading3 {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

.heading4 {
    font-size: 0.5em;
    font-weight: bold;
    color: black;
}


.link {
    color: black;
}


.link:hover {
    cursor: pointer;
}

.test-border {
    border: 5px solid red;
}

.circle-image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.inline-image {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    margin-left: 1em;
    margin-right: 1em;
}

.box-shadow {
    box-shadow: 3px 3px 5px 0px black;
}

.btn {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background-color: blue;
    color: white;
    font-size: 1.5em;

}

.pill-btn {
    padding-left: 2em;
    padding-right: 2em;
    background-color: orange;
    border-radius: 25px;
}

.btn-shadow {
    box-shadow: 5px 5px 0px 0px black;
}

.btn:hover, .pill-btn:hover {
    cursor: pointer;
}


.flex-box {
    display: flex;
}

.flex-around-center {
    justify-content: space-around;
    align-items: center;
}

.left-corner {
    margin-left: 1em;
}

.right-corner {
    margin-right: 1em;
}

.top-corner {
    margin-top: 1em;
}

.bottom-corner {
    margin-bottom: 1em;
}

.flex-center-item {
    align-items: center;
}


#outer-container {
    width: 80vw;
    min-height: 100vh ;
}

#nav {
    display: flex;
    background-color: gray;
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
    min-height: 10vh;

}

.search-bar{
    background-color: white;
    min-width: 20vw;
    min-height: 2.5em;
    border: 2px solid black;
    display: flex;
    align-items: center;
    padding-left: 1vw;
}

#information {
    margin-top: 5vh;
    display: flex;
    min-height: 60vh;

}

.tile {
    border: 0.5vh solid black;
    height: 25vh;
    width: 90%;
}

.info-column {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tile-info {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tile-defination {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 1vh;
    padding-right: 1vh;
}

.btn-2 {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background-color: peachpuff;
    color: black;
    font-size: 1.5em;
}

.text{
    padding-left: 2vh;
    font-size: 2.5em;
}

.tile-right-defination {
    flex-direction: column;
    justify-content: space-around;
}

.btn-3 {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background-color: lightgreen;
    color: black;
    font-size: 1.5em;
}
.btn-border {
    border: 2px solid black;
}